.content {
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

.card-item {
    width: 30%;
    padding: 10px;
    justify-content: center;
}