<mat-toolbar class="top-toolbar" color="primary">
    <a routerLink="" class="nav-link logo">
      <img src="assets/images/megalis_logo.png" title="Accueil" alt="Accueil" class="ng-star-inserted">
    </a>
    <span>Prototype</span>
    <span class="beta">{{version}}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="example-icon person-icon" aria-label="" (click)="openUserDialog()">
      <mat-icon>person</mat-icon>
    </button>
    <span>{{user}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
        </button>
        <a mat-menu-item href="{{opendataToolUrl}}" target="_blank">
          <mat-icon>dataset</mat-icon>
          <span>Outil de publication opendata</span>
        </a>
        <a mat-menu-item href="{{marqueBlancheUrl}}" target="_blank">
          <mat-icon>dataset_linked</mat-icon>
          <span>Marque blanche</span>
        </a>
        <button mat-menu-item (click)="openInfosDialog()">
          <mat-icon>info</mat-icon>
          <span>A propos</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item  (click)="logout($event)">
          <mat-icon>logout</mat-icon>
          <span>Déconnection</span>
        </button>
      </mat-menu>
  </mat-toolbar>
