.toolbar-spacer {
    flex: 1 1 auto;
  }

  .top-toolbar {
    position: fixed;
    top:0;
  }

  span.beta {
    padding-left: 10px;
    background-color: #f44336;
    padding-right: 10px;
    font-size: smaller;
    line-height: 1.5;
    margin-left: 10px;
}