    <div class="container">
      <div *ngIf="!formEnabled">
      <h1>Publier un acte</h1>
      <h4>ne passant pas par le contrôle de légalité</h4>
    </div>
      <div class="custom-center">
      <mat-progress-bar color="accent" mode="query" *ngIf="waiting"></mat-progress-bar>
      <mat-card class="form-card" *ngIf="formEnabled">
        <mat-card-title>Nouvelle publication d'acte
          <mat-chip selected color="primary"><a [href]="pastellLink" target="_blank">{{idDoc}}</a></mat-chip>
        </mat-card-title>
        <mat-card-subtitle>ne passant pas par le contrôle de légalité</mat-card-subtitle>
      <form [formGroup]="pastelForm" (ngSubmit)="onFormSubmit()">
        <mat-card-content>
        <div class="custom-center">
          <form [formGroup]="firstFormGroup">
            <input formControlName="acte_nature" hidden>
            <div>
              <mat-form-field id="objet" appearance="outline">
                <mat-label>Objet</mat-label>
                <input matInput placeholder="Objet du document" formControlName="objet" required pattern="[^€Œ]{1,256}" required [errorStateMatcher]="matcher">
                <mat-error *ngIf="objet.hasError('pattern') && !objet.hasError('required')">
                  256 caractères maxi. Caractères interdits : Œ, €.
                </mat-error>
                <mat-error *ngIf="objet.hasError('required')">
                  Numéro d'acte est <strong>requis</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Numéro de l'acte</mat-label>
              <input matInput placeholder="Numéro d'acte" formControlName="numero_de_lacte" required pattern="[A-Z0-9_]{4,12}" [errorStateMatcher]="matcher">
              <mat-error *ngIf="numero_acte.hasError('pattern') && !numero_acte.hasError('required')">
                4 à 12 charactères parmis majuscules + chiffres et "_"
              </mat-error>
              <mat-error *ngIf="numero_acte.hasError('required')">
                Numéro d'acte est <strong>requis</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nature</mat-label>
              <mat-select
                  formControlName="nature_autre_detail"
                  class="form-select"
                  id="nature_autres">
                  <mat-option *ngFor="let opt of natures_autres"
                          [value]="opt.id">
                    {{opt.value}}
                  </mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Classification</mat-label>
              <mat-select formControlName="classification" class="form-select">
                  <mat-optgroup *ngFor="let group of classifications.groups" [label]="group.label" disabled="false">
                    <mat-option *ngFor="let item of group.values" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-optgroup>
            </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Date</mat-label>
              <input matInput formControlName="date_de_lacte" [matDatepicker]="picker">
              <mat-hint>AAAA-MM-JJ</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>
                  calendar_month
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </form>
        </div>
        <mat-divider></mat-divider>

        <form [formGroup]="secondFormGroup" enctype = "multipart/form-data">
          <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile class="grid-file" colspan="2">
            <mat-label>Acte * (pdf)</mat-label>
            <input type="file" class="file-upload" name="arrete" class="file-input" accept="application/pdf" formControlName="arrete" (change)="onNewFile($event)" required #fileUpload>
            <div class="file-upload">
                <button mat-mini-fab color="primary" class="upload-btn" matTooltip="Ajouter un fichier pdf"
                  (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="4">
              <mat-spinner color="accent" diameter="40" *ngIf="waiting_file" ></mat-spinner>
            <mat-chip-list class="mat-chip-list-stacked2" #chipList aria-label="Acte">
              <mat-chip selected color="primary" *ngFor="let file of fileActe" (removed)="removeFile(file)">
                {{file.name}}
                <button matChipRemove matTooltip="Supprimer ce fichier">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </mat-grid-tile>
          </mat-grid-list>

        <mat-grid-list cols="6" class="grid-file" *ngIf="annexesEnabled">
          <mat-divider></mat-divider>
          <mat-grid-tile class="grid-file" colspan="2">
            <mat-label>Annexes</mat-label>
            <input type="file" multiple class="file-upload" name="autre_document_attache" class="file-input" formControlName="autre_document_attache" (change)="onNewFile($event)" #fileUpload2>
            <div class="file-upload">
                <button mat-mini-fab color="primary" class="upload-btn" matTooltip="Ajouter un fichier ou plusieurs fichiers"
                  (click)="fileUpload2.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-chip-list class="mat-chip-list-stacked" #chipList aria-label="Annexes selection">
              <mat-chip *ngFor="let file of filesAnnexe" (removed)="removeFile(file)">
                {{file.name}}
                <button matChipRemove matTooltip="Supprimer ce fichier">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </mat-grid-tile>
        </mat-grid-list>

        </form>

      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions  align="end">
        <form [formGroup]="thirdFormGroup">
          <div class="form-group">
            <mat-radio-group formControlName="publication_open_data">
              <mat-radio-button class="example-margin" value="3">Je publie en opendata</mat-radio-button>
              <mat-radio-button class="example-margin" value="1">Je ne sais pas</mat-radio-button>
            </mat-radio-group>
        </div>
        </form>

        <button id="apply-btn" type="submit" mat-raised-button color="primary" [disabled]="pastelForm.invalid">
          <span class="my-loader" aria-hidden="true">
            <mat-icon>
              <mat-spinner color="accent" diameter="20"></mat-spinner>
            </mat-icon>
          </span>
          <span class="my-loader sr-only">Traitement en cours...</span>
          <span id="label-btn" class="sr-only">Publier</span>
        </button>
      </mat-card-actions>
      </form>
      <mat-card-footer>
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
      </div>

      <mat-toolbar class="bottom-toolbar">
        <button matTooltip="Publier un nouveau document" matTooltipPosition="above" *ngIf="!formEnabled" mat-fab color="primary" aria-label="Publier un nouvel acte" (click)="newActe()">
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="Supprimer le document courant" matTooltipPosition="above" *ngIf="formEnabled" mat-fab color="warn" aria-label="Supprimer" (click)="deleteActe(idDoc)">
          <mat-icon>delete</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <button matTooltip="Revenir à l'accueil" matTooltipPosition="above" aria-label="Revenir à l'accueil" mat-icon-button routerLink="">
          <mat-icon>dashboard</mat-icon>
        </button>

      </mat-toolbar>


</div>


