    <div class="container">
      <div class="custom-center">
      <mat-stepper orientation="vertical" linear="true" #stepper>
      <form [formGroup]="pastelForm">
        <mat-step [stepControl]="firstFormGroup">
        <div class="custom-center">

          <form [formGroup]="firstFormGroup" (ngSubmit)="part1()">
            <ng-template matStepLabel>Description du document</ng-template>
            <input hidden formControlName="idDoc" >
            <input hidden formControlName="pastellLink" >
            <mat-form-field appearance="outline">
              <mat-label>Objet</mat-label>
              <input matInput placeholder="Objet du document" formControlName="firstCtrl" required >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Numéro de l'acte</mat-label>
              <input matInput placeholder="Numéro d'acte" formControlName="numero_acte" required pattern="[A-Z0-9_]{4,12}" [errorStateMatcher]="matcher">
              <mat-error *ngIf="numero_acte.hasError('pattern') && !numero_acte.hasError('required')">
                4 à 12 charactères parmis majuscules + chiffres et "_"
              </mat-error>
              <mat-error *ngIf="numero_acte.hasError('required')">
                Numéro d'acte est <strong>requis</strong>
              </mat-error>
            </mat-form-field>
            <div>
              <!--<button mat-button type="submit">Submit</button>-->
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </div>

      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" enctype = "multipart/form-data">
          <div class="custom-center">
          <ng-template matStepLabel>Fichiers associés</ng-template>
          <!--<mat-form-field appearance="fill">-->
            <input type="file" class="file-upload" name="arrete" class="file-input" formControlName="arrete" (change)="onNewFile($event)" required #fileUpload>
            <div class="file-upload">
                <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <mat-icon class="megalis right">picture_as_pdf</mat-icon>{{this.arrete.value?.split('\\')[2] || "Pas encore de fichier ajouté."}}
            </div>

            <input type="file" multiple class="file-upload" name="autre_document_attache" class="file-input" formControlName="autre_document_attache" (change)="onNewFile($event)" required #fileUpload2>
            <div class="file-upload">
                <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload2.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <mat-icon class="megalis right">picture_as_pdf</mat-icon>{{this.autre_document_attache.value?.split('\\')[2] || "Pas encore d'annexe ajoutée."}}
            </div>

            <mat-chip-list class="mat-chip-list-stacked" #chipList aria-label="Annexes selection">
              <mat-chip selected color="primary" *ngFor="let file of filesAnnexe" (removed)="removeFile(file)">
                {{file.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>





          <!--</mat-form-field>-->
          <div>

          </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="details">
        <div class="custom-center">
          <form [formGroup]="details" (ngSubmit)="part2()">
            <!--<div class="form-group">-->
            <ng-template matStepLabel>Informations complémentaires</ng-template>
          <!--</div>-->
          <!--<div class="form-group">-->
            <mat-form-field appearance="outline">
              <mat-label>Nature</mat-label>
              <mat-select
                  formControlName="nature_autres"
                  class="form-select"
                  id="nature_autres">
                  <mat-option *ngFor="let opt of natures_autres"
                          [value]="opt.id">
                    {{opt.value}}
                  </mat-option>
            </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <!--<mat-label>Date</mat-label>-->
              <input matInput formControlName="date" [matDatepicker]="picker">
              <mat-hint>YYYY-MM-DD</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>
                  calendar_month
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="form-group">
                <mat-checkbox formControlName="opendata">Publication opendata</mat-checkbox>
            </div>

          <!--</div>-->



            <div>

            </div>
            <div>
              <button mat-button matStepperPrevious>Précédent</button>
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Statut</ng-template>


        <mat-card class="status-card">
          <mat-card-subtitle>Pastell</mat-card-subtitle>
          <mat-card-title>{{idDoc.value}}</mat-card-title>
          <mat-card-content>
            <div *ngIf="status.value === '0'">
              <p>Document en cours de publication !</p>
            </div>
            <div *ngIf="status.value === '1'">
              <p>Document <a [href]="pastellLink.value" target="_blank">{{idDoc.value}}</a> publié avec succès !</p>
            </div>
            <div *ngIf="status.value === '2'">
              <p>Echec dans la publication du document<a [href]="pastellLink.value" target="_blank">{{idDoc.value}}</a></p>
            </div>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button color="primary" (click)="stepper.reset();pastelForm.enable()">Recommencer</button>
            <button mat-button disabled color="warn">Supprimer</button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar *ngIf="status.value === '0'" mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar *ngIf="status.value === '1'" mode="determinate" value="100"></mat-progress-bar>
            <mat-progress-bar *ngIf="status.value === '2'"  mode="determinate" value="20"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>

        <div>
          <!--<button mat-button (click)="stepper.reset();pastelForm.enable()">Recommencer</button>-->
        </div>
      </mat-step>

      </form>
    </mat-stepper>
      </div>
</div>


