.mat-stepper-vertical {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
    padding: 10px;
  }

  .file-input {
    display: none;
  }

  .file-upload {
    padding-top: 20px;
   padding-bottom: 20px;
  }

  /*mat-form-field {
    width: 100%;
  }*/

  .custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }

  .file-upload .material-icons.megalis {
    vertical-align: middle;
    padding-left: 15px;
  }

  .upload-btn {
    margin-left: 10px;
}

  .status-card {
    max-width: 400px;
    margin-top: 3px;
  }

button[busy] #label-btn {
    display: none;
}
button[busy] span.my-loader {
    display: inline-block;
}

button span.my-loader {
    display: none;
}

mat-chip a {
  color: #fff;
}



.bottom-toolbar button {
  margin-right: 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.bottom-toolbar {
  position: fixed;
  bottom:0;
}

h1 {
  padding-left: 50px;
  margin-bottom: 0;
  padding-top: 10px;
}
h4 {
  padding-left: 50px;
}

.example-margin {
  padding: 10px;
}

button#apply-btn {
  margin-left: 50px;
}

#objet.mat-form-field {
  width:100%;
}

