    <div class="container">
      <div class="custom-center">
      <mat-stepper orientation="vertical" linear="true" #stepper>
      <form [formGroup]="pastelForm">
        <mat-step [stepControl]="firstFormGroup">
        <div class="custom-center">

          <form [formGroup]="firstFormGroup" (ngSubmit)="part1()">
            <ng-template matStepLabel>Description du document</ng-template>
            <input hidden formControlName="idDoc" >
            <mat-form-field appearance="outline">
              <mat-label>Objet</mat-label>
              <input matInput placeholder="Objet du document" formControlName="firstCtrl" required >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Numéro de l'acte</mat-label>
              <input matInput placeholder="Numéro d'acte" formControlName="numero_acte" required pattern="[A-Z0-9_]{4,12}">
            </mat-form-field>
            <div>
              <!--<button mat-button type="submit">Submit</button>-->
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </div>

      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" enctype = "multipart/form-data">
          <div class="custom-center">
          <ng-template matStepLabel>Fichiers associés</ng-template>
          <!--<mat-form-field appearance="fill">-->
            <input type="file" class="file-upload" class="file-input" formControlName="secondCtrl" (change)="onNewFile($event)" required #fileUpload>
            <div class="file-upload">

                <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <mat-icon class="megalis right">picture_as_pdf</mat-icon>{{this.secondCtrl.value?.split('\\')[2] || "Pas encore de fichier ajouté."}}
            </div>


          <!--</mat-form-field>-->
          <div>

          </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="details">
        <div class="custom-center">
          <form [formGroup]="details" (ngSubmit)="part2()">
            <!--<div class="form-group">-->
            <ng-template matStepLabel>Détails</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Classification</mat-label>
              <mat-select
                  formControlName="classification"
                  class="form-select"
                  id="classification">
                  <mat-option *ngFor="let classification of classifications"
                          [value]="classification">
                    {{classification}}
                  </mat-option>
            </mat-select>
            </mat-form-field>
          <!--</div>-->
          <!--<div class="form-group">-->
            <mat-form-field appearance="outline">

              <!--<mat-label>Date</mat-label>-->
              <input matInput formControlName="date" [matDatepicker]="picker">
              <mat-hint>YYYY-MM-DD</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>
                  calendar_month
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>

            <div class="form-group">
                <mat-checkbox formControlName="opendata">Publication opendata</mat-checkbox>


            </div>

          <!--</div>-->



            <div>

            </div>
            <div>
              <button mat-button type="submit">Submit</button>
              <button mat-button matStepperNext>Suivant</button>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Statut</ng-template>
        <p>Publication réalisée avec succès !</p>
        <div>
          <button mat-button (click)="stepper.reset()">Recommencer</button>
        </div>
      </mat-step>

      </form>
    </mat-stepper>
      </div>
</div>


