<mat-toolbar color="primary">
    <span>{{user}}</span>
    <button mat-button (click)="logout($event)">LOGOUT</button>
  </mat-toolbar>

  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Accueil">
      <mat-grid-list cols="4">
        <mat-grid-tile rowHeight='200px'>
          <mat-card class="card">
            <mat-card-header class="title">
              <mat-card-title>Pastell version</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{version}}
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button >
                <mat-icon>electrical_services</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Délibérations">
          <mat-card class="card">
            <mat-card-header class="title">
              <mat-card-title>Publication des délibérations</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-pastell-form></app-pastell-form>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
    </mat-tab>
  </mat-tab-group>

